@page
@model WebApplication.Views.Acesso.Cadastrar

@{
    ViewData["Title"] = "Cadastrar";
}

<div class="text-center">
    <h1 class="display-4">Cadastrar</h1>
    
    <a asp-controller="Acesso" asp-action="Login">Voltar ao login</a>
    <br>
    <a asp-controller="Acesso" asp-action="RecuperarConta">Recuperar Conta</a>
</div>