@page
@model WebApplication.Views.Acesso.Login

@{
    ViewData["Title"] = "Login";
}

<div class="text-center">
    <h1 class="display-4">Login</h1>
    
    <a asp-controller="Admin" asp-action="Supervisao">Logar</a>
    <br>
    <a asp-controller="Acesso" asp-action="RecuperarConta">Recuperar Conta</a>
    <br>
    <a asp-controller="Acesso" asp-action="Cadastrar">Cadastrar</a>
</div>