@page
@model WebApplication.Views.Acesso.RecuperarConta

@{
    ViewData["Title"] = "Recuperar Conta";
}

<div class="text-center">
    <h1 class="display-4">Recuperar Conta</h1>

    <a asp-controller="Acesso" asp-action="Login">Voltar ao login</a>
    <br>
    <a asp-controller="Acesso" asp-action="Cadastrar">Cadastrar</a>
</div>